<nav class="topNav">
  <a class="logo">TODO IT</a>
  <button class="openMenu" *ngIf="isLoginRoute()">
    <mat-icon class=" white-icon">menu</mat-icon>
  </button>
  <ul class="menu">
    <button class="closeMenu">
      <mat-icon class="white-icon">close</mat-icon>
    </button>
    <li><button mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active"
        *ngIf="isLoginRoute()">Inicio</button>
    </li>
    <li><button mat-flat-button [routerLink]="['/requestTravel']" routerLinkActive="router-link-active"
        *ngIf="isLoginRoute()"> Solicitar
        viaje</button></li>
    <li><button mat-flat-button [routerLink]="['/statusTravel']" routerLinkActive="router-link-active"
        *ngIf="isLoginRoute()">Estado del
        viaje</button></li>
    <li>
      <button mat-flat-button [routerLink]="['/history']" routerLinkActive="router-link-active"
        *ngIf="isLoginRoute()">Historial
      </button>
    </li>
    <li><button mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="isLoginRoute()"
        (click)="logOut()">Cerrar sesión</button>
    </li>

  </ul>
</nav>
