<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <app-header></app-header>
  </header>
  <section class="loginMain">
    <div class="info">
      <h1 class="title">Bienvenido</h1>
      <p class="info-des">
        Gracias por volver a la plataforma de todo it, para aprovechar nuestro servicio por favor ingrese su cuenta.
      </p>
    </div>
    <app-login-home></app-login-home>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

</html>
