<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="topHeader">
    <app-header></app-header>
  </header>

  <section class="statusMain">
    <app-main-status></app-main-status>
    <!--<app-table></app-table>-->
    <app-table-status></app-table-status>
  </section>

  <app-footer></app-footer>
</body>

</html>
